<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lost & found portal</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
     <h1>Lost & Found Items</h1>
    <a href="/items/new">Report Lost Item</a>
    <hr>
    <ul>
      <% items.forEach(item=> { %>
            <li>
                <a href="/items/<%= item._id %>">
                    <%= item.title %>
                </a>
            </li>
            <% }) %>
    </ul>
</body>
</html>